<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user--login-by-username</title>
    <link rel="stylesheet" href="asset/css/index.css">
    <!-- <script src="asset/js/vconsole.min.js"></script>
    <script>
        var vConsole = new VConsole();
    </script> -->
</head>

<body>

    <div id="app">
        <van-cell-group>
            <van-field v-model="username" label="用户名" placeholder="请输入用户名"></van-field>
            <van-field v-model="password" label="密码" placeholder="请输入密码" type="password"></van-field>
        </van-cell-group>
        <van-button type="primary" @click="handleLoginTap">登录</van-button>
    </div>

    <script src="asset/js/axios.min.js"></script>
    <script src="asset/js/common.js"></script>
    <script src="asset/js/vue.js"></script>
    <script src="asset/js/vant.js"></script>
    <script src="viewmodel/user--login-by-username.js"></script>
</body>

</html>